*{
    margin: 0;
    padding: 0;
}

.header{
    z-index: 999;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between; 
    width: 100vw;
    height: 60px;
    padding: 5px;
    background: #333;
    color: white;
    min-width: 390px;
    max-width: 
}

.logout {
    float: right;
    margin-right: 10vw;
    justify-content: center;
    line-height: 60px;
    text-decoration: none;
    font-size: medium;
    color: #fff;
}

.logout:hover {
    text-decoration: underline;
}

#header-text{
    line-height: 60px;
    padding-left: 10px;
    font-size: large;
    text-decoration: none;
    color: #fff;
}

main{
    margin: 10px 10px;
}

.explanation-box,
.reserved-classroom-box,
.available-box{
    margin-top: 25px;
}

.explanation-title{
    background-color: #4c9ac0;
    color: #fff;
    padding: 0.5em 20px;
    width: fit-content;
    border-radius: 10px 10px 0 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.explanation-area{
    padding: 10px 20px;
    min-height: 120px;
    border: 2px solid #4c9ac0;
}

.reserved-classroom-title{
    background-color: #4c9ac0;
    color: #fff;
    padding: 0.5em 20px;
    width: fit-content;
    border-radius: 10px 10px 0 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.reserved-classroom-area{
    padding: 10px 20px;
    min-height: 120px;
    border: 2px solid #4c9ac0;
}

.ast::after{
    content: "*";
    color: red;
}

#search-classroom-form{
    margin-top: 20px;
    margin-left: 20px;
}

.date,
.time{
    margin-top: 20px;
}

.head{
    padding: 1px 10px;
    border-left: 5px solid #2589d0;
    color: #333333;
}

input[type="date"],
input[type="time"]{
    display: flex;
    flex-direction: coulmn;
    margin-top: 10px;
    position: relative;
    padding: 0 10px;
    width: 200px;
    height: 36px;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    margin: 40px .1vw ;
    padding: 6px 25px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.search-button:hover {
    background-color: #1579c0;
}

.search-button::before {
    width: 1em;
    height: 1em;
    margin-right: 10px;
    background: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202.1-3.7%202.1-6%200-5.4-4.4-9.7-9.7-9.7S0%204.4%200%209.8s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2.1v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
    content: '';
}

a.btn_08:hover {
	background: #44c6f2;
	border: 6px outset #27acd9;
	color: #fff;
}

.available-title{
    background-color: #4c9ac0;
    color: #fff;
    padding: 0.5em 20px;
    width: fit-content;
    border-radius: 10px 10px 0 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

#available-list-area{
    padding: 10px 20px;
    min-height: 120px;
    border: 2px solid #4c9ac0;
}

.classroom-button{
    font-size: 1.0rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.5rem 2rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.1em;
    color: #ffffff;
    border-radius: 0.5rem;
    background-color: #0043eb;
    right:3px;
}