* {
  margin: 0;
  padding: 0;
}

html{
font-size: 62.5%;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

:root {
  --element-min-width: 360px;
  --base-color: #000000;
}

.header {
  z-index: 999;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: max(var(--element-min-width), 100%);
  height: 60px;
  background: var(--base-color);
  color: white;
}

.logout {
  margin-right: 6vw;
  justify-content: center;
  line-height: 60px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
}

.logout:hover {
  text-decoration: underline;
}

#header-text {
  line-height: 60px;
  padding-left: 10px;
  font-size: 1.7rem;
  text-decoration: none;
  color: #fff;
}

.modal-btn {
  position: fixed;
  right: 10vw;
  z-index: 100;
}

.modal-open {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: max(var(--element-min-width), 100%);
  height: 100%;
  background: rgba(0, 0, 0, 50%);
  visibility: hidden;
  transition: 0.3s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overscroll-behavior: contain;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal::before,
.modal::after {
  content: "";
  width: 1px;
  height: calc(100vh + 1px);
  display: flex;
}

/* クラスが追加された時の指定 */
.modal.is-active {
  visibility: visible;
}

/* モーダル内側の指定 */
.modal-container {
  position: relative;
  display: block;
  max-width: 600px;
  width: max(var(--element-min-width), 90%);
  z-index: 1001;
  margin: auto;
}

/* モーダルを閉じるボタンの指定 */
.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  right: -7px;
  width: 35px;
  height: 35px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

/* モーダルのコンテンツ部分の指定 */
.modal-content {
  background: #fff;
  text-align: left;
  line-height: 1.8;
  padding: 20px;
  border-radius: 5px;
}

/* モーダルのコンテンツ部分のテキストの指定 */
.modal-content p {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  margin: 1em 0;
}

.header-modal {
  border-bottom: 1px solid #9e9696;
}

.header-modal div {
  font-size: 2rem;
  font-weight: bold;
}

.tooltip p {
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  bottom: -43px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em 1em;
  border-radius: 3px;
  background-color: #00000099;
  color: #fff;
  font-size: 0.7rem;
  white-space: nowrap;
  transition: opacity 0.3s;
  position: absolute;
}

.tooltip:hover p {
  visibility: visible;
  opacity: 1;
}

.tooltip p::before {
  position: absolute;
  top: -6px;
  width: 9px;
  height: 6px;
  background-color: inherit;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  content: "";
}

.reserved-classroom-box,
.available-box {
  margin: 25px 1vw 1vw 1vw;
}

.reserved-classroom-title,
.available-title {
  display: flex;
  justify-content: center;
  color: #000;
  padding: 0.5em 20px;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.reserved-classroom-area ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.reserved-classroom-area li {
  font-size: 1.6rem;
  margin: 5px 6px 5px 6px;
}

.reserved-classroom-area {
  margin: 0 auto;
  width: max(var(--element-min-width), 80vw);
  height: 100px;
  overflow-y: auto;
  border: 1px solid #9e9696;
  border-radius: 3px;
  font-size: 1.6rem;
}

.fas{
  cursor: pointer;
}

.req::after {
  margin-left: 8px;
  content: "必須";
  font-size: 0.3rem;
  color: white;
  background-color: #d61919;
  border: 2px solid #d61919;
  border-radius: 3px;
}

.head {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 1px 10px;
  border-left: 5px solid #4c9ac0;
  color: #333333;
  font-size: 1.6rem;
  letter-spacing: 0.1rem
}

#search-classroom-form {
  display: grid;
  place-items: center;
}

.time {
  margin-top: 0px;
}

input[type="date"],
input[type="time"] {
  display: flex;
  flex-direction: coulmn;
  position: relative;
  padding: 0 10px;
  width: max(var(--element-min-width), 80vw);
  height: 36px;
  border: 2px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: #000;
}

.search{
  width: max(var(--element-min-width), 80%);
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max(var(--element-min-width), 80vw);
  margin: 40px 0.1vw;
  padding: 6px 25px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
}

.search-button:hover {
  background-color: #4c9ac0;
}

.search-button::before {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 10px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202.1-3.7%202.1-6%200-5.4-4.4-9.7-9.7-9.7S0%204.4%200%209.8s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2.1v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E")
    no-repeat center;
  content: "";
}

#message-area{
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

a.btn_08:hover {
  background: #44c6f2;
  border: 6px outset #27acd9;
  color: #fff;
}

#available-list-area {
  margin: 0 auto;
  min-height: 120px;
  width: max(var(--element-min-width), 80vw);
  text-align: center;
  border: 2px solid #4c9ac0;
  border-radius: 3px;
  font-size: 30px;
}

#available-list-area ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  margin: 5px 6px 5px 6px;
}

.classroom-button {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 4px 14px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 0.5rem;
  background-color: var(--base-color);
  width: 80px;
}

/* footer関係 */
footer {
  width: 100%;
  bottom: 0;
}

.contact-address {
  padding: 1.25em 0;
  border: 1px solid #2c2c2c;
  background-color: #414141;
  color: #dddddd;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
}

.contact-address a {
  color: #fff;
  text-decoration: none;
}

.contact-address a:hover {
  text-decoration: underline;
}

/* NotFoundページ */

.notfound-container {
  margin-top: 50px;
}

.text-404,
.text-notfound,
.back-home{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-404 div,
.text-notfound div {
  font-size: 3rem;
}

.text-notfound {
  flex-direction: column;
  margin: 0 5px 0 5px;
}

.text-notfound h4{
  margin-top: 10px;
  font-size: 1.6rem;
}

.text-notfound p {
  margin-top: 10px;
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.back-home{
  margin-top: 30px;
}

.home-btn {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

a.home-btn{
  align-items: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  background-color: #000;
}

a.home-btn:hover{
  transition-duration: 0.5s;
  color: #000;
  background-color: #fff;
}

