*{
    margin: 0;
    padding: 0;
}

.header{
    z-index: 999;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between; 
    width: 100vw;
    height: 60px;
    padding: 5px;
    background: #333;
    color: white;
    min-width: 390px;
}

.logout {
    float: right;
    margin-right: 10vw;
    justify-content: center;
    line-height: 60px;
    text-decoration: none;
    font-size: medium;
    color: #fff;
}

.logout:hover {
    text-decoration: underline;
}

#header-text{
    line-height: 60px;
    padding-left: 10px;
    font-size: large;
    text-decoration: none;
    color: #fff;
}

main{
    margin: 10px 10px;
}

.explanation-box,
.reserved-classroom-box,
.available-box{
    margin-top: 25px;
}


.explanation-title{
    background-color: #4c9ac0;
    color: #fff;
    padding: 0.5em 20px;
    width: fit-content;
    border-radius: 10px 10px 0 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.explanation-area{
    padding: 10px 20px;
    min-height: 120px;
    border: 2px solid #4c9ac0;
}

.reserved-classroom-title{
    background-color: #4c9ac0;
    color: #fff;
    padding: 0.5em 20px;
    width: fit-content;
    border-radius: 10px 10px 0 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.reserved-classroom-area{
    padding: 10px 20px;
    min-height: 120px;
    border: 2px solid #4c9ac0;
}

.ast::after{
    content: "*";
    color: red;
}

#search-classroom-form{
    margin-top: 20px;
    margin-left: 20px;
}

.date,
.time{
    margin-top: 20px;
}

input[type="date"],
input[type="time"]{
    display: flex;
    flex-direction: coulmn;
    margin-top: 10px;
    position: relative;
    padding: 0 10px;
    width: 200px;
    height: 36px;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

#search-button{
    display: flex;
	text-align: center;
	align-items: center;
    justify-content: center;
	text-decoration: none;
    /*height: 8px;*/
	width: 32px;
	margin-top: 20px;
	padding: 0.5rem 4rem;
	font-weight: bold;
	background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
	border-radius: 100vh;
	color: #333;
	border: 1px solid #999;
	text-shadow: 0 1px #fff;
	box-shadow: 0 3px 2px 1px #fcfcfc, 0 4px 6px #cecfd1, 0 -2px 2px #cecfd1, 0 -4px 2px #eee, inset 0 0 2px 2px #cecfd1;
	transition: 0.5s;
}

#search-button :hover{
	opacity: 0.5;
}

a.btn_08:hover {
	background: #44c6f2;
	border: 6px outset #27acd9;
	color: #fff;
}

.available-title{
    background-color: #4c9ac0;
    color: #fff;
    padding: 0.5em 20px;
    width: fit-content;
    border-radius: 10px 10px 0 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

#available-list-area{
    padding: 10px 20px;
    min-height: 120px;
    border: 2px solid #4c9ac0;
}

.classroom-button{
    font-size: 1.0rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.5rem 2rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.1em;
    color: #ffffff;
    border-radius: 0.5rem;
    background-color: #0043eb;
    right:3px;
}