/* user_list.htmlの内容 */
body {
    margin: 0 0 0 0;
}

header{
    z-index: 999;
    position: fixed;
    top: 0px;
    width: 100%;
    max-height: 60px;
    padding: 5px;
    background: #000;
    display: flex;
    justify-content: space-between;
}


#header-text{margin: auto;
    line-height: 60px;
    padding-left: 10px;
    font-size: medium;
    text-decoration: none;
    color: #fff;
}

nav{
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;;
}

.jump{
    margin-left: 15px;
    float: left;
    border-radius: 5px;
    background-color: #000;
    padding: 10px;
    text-decoration: underline;
    color: #fff;
}

#margin{
    margin-top: 100px;
}
#margin-narrow{
    margin-top: 30px;
}

h1{
    border-bottom: 6px double #000;
}

.user-list,.classroom-list{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
.user-list th,.classroom-list th{
    background-color: #adc9f3;
    padding: 10px;
    border-bottom: solid 4px #778ca3;
    color: #000000
}
.user-list td,.classroom-list th{
    padding: 10px;
    border-bottom: solid 1px #778ca3;
}

footer{
    max-width: 800px;
    margin-left: 150px;
    margin:0 auto;
}
.contact-address{
    margin: 2em 0.5em 0.5em 0.5em;
    padding: 1em 0.5em 0.5em;
    position: relative;
    border: 1px solid #81d4fa;
    background-color: #e1f5fe;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* ここからreserve_state.htmlの内容 */
.reserve-list{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
.reserve-list th{
    background-color: #fff;
    padding: 10px;
    border-bottom: solid 4px #778ca3;
    color: #000
}
.reserve-list td{
    padding: 5px;
    border-bottom: solid 1px #778ca3;
}

/* ここからclassroom_management.htmlの内容 */
input{
    margin-right: 15px;
    margin-bottom: 10px;
}

input[type="date"] {
    position: relative;
    padding: 0 10px;
    width: 150px;
    height: 36px;
    border: 2px solid #000;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

input[type="time"]{
    position: relative;
    padding: 0 10px;
    width: 100px;
    height: 36px;
    border: 2px solid #000;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

input[type="text"]{
    position: relative;
    padding: 0 10px;
    width: 100px;
    height: 36px;
    border: 2px solid #000;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

.addform-roomname {
    position: relative;
    padding: 0 10px;
    width: 180px;
    height: 36px;
    border: 2px solid #000;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

#border{
    border-top: 3px dotted #000;
}

.form-delete-button{
    transform: scale(1.5); /* 1.5倍に拡大 */
    transform-origin: center; /* 拡大の基準点を中心に設定 */
    margin-left: 10px; /* ゴミ箱アイコンの左側に10pxの余白を追加 */
}