.listbox{
    margin: 2em 0;
    padding: 2em 1em 1em;
    position: relative;
    border: 1px solid #F4F4F4;
    background-color: #D9D9D9;
}

.listbox-sentence{
    position: absolute;
    top: -0.8em;
    left: 20px;
    font-weight: bold;
    font-size: 2em;
    background-color: #F4F4F4;
    color: #000000;
    padding: 0 0.5em;
}

.listbox h4{
    color: #000;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    .break {
      display: block;
    }
}

.fas.fa-trash {
    margin-left: 10px; /* ゴミ箱アイコンの左側に10pxの余白を追加 */
}