<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Home</title>
</head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script >
    $(() => {
        $("#page-header").load("/templates/header.html");
    });
</script>
<body>
    <div id="page-header"></div>
    <div id="error-message"></div>
    <form id="user-register-form">
        <label for="user-name">ユーザ名：</label>
        <input type="text" id="user-name" name="user-name"><br>
        <label for="user-email">メールアドレス：</label>
        <input type="text" id="user-email" name="user-email"><br>
        <button type="submit">投稿</button>
    </form>

    <!-- Google認証ボタン -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
        data-client_id="298118280458-k6q7l7bh7ieborj8iltkc0cgc17aruri.apps.googleusercontent.com"
        data-context="signup"
        data-ux_mode="redirect"
        data-login_uri="http://localhost:8000/"
        data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signup_with"
        data-size="large"
        data-logo_alignment="left">
    </div>

    <!-- 以下JS -->
    <script src="../js/function.js"></script>
    <script>
        window.addEventListener('load', function () {
            const registerform = document.getElementById('user-register-form');
            const errorMessage = document.getElementById('error-message');

            registerform.addEventListener('submit', async(e) => {
                e.preventDefault();
                const name = e.target.querySelector("input[name='user-name']").value;
                const email = e.target.querySelector("input[name='user-email']").value;
                console.log(`name : ${name}, email : ${email}`);
                const params = {
                    'name':name,
                    'email':email
                }
                const create_res = await request('/api/create-user', params);
                const statusText = create_res['message'];
                if(create_res['result']) location.href = '/templates/success.html';
                else errorMessage.innerText = statusText;
            });
        });
    </script>
</body>
</html>