#border{
    border-top: 3px dotted #000;
    margin: 20px 0;
}

.form-delete-button{
    transform: scale(1.5); /* 1.5倍に拡大 */
    transform-origin: center; /* 拡大の基準点を中心に設定 */
    margin-left: 10px; /* ゴミ箱アイコンの左側に10pxの余白を追加 */
}

#classroom-addform {
    user-select: none;
}