* {
    margin: 0;
    padding: 0;
}

:root {
    --element-min-width: 950px;
    --background-navbar: rgba(55, 55, 55, 0.98);
}


/* ホンへ */
body {
    height: 100%;
    width: max(var(--element-min-width), 100%);
    overflow: scroll;
}


/* header関係 */
header{
    z-index: 999;
    position: fixed;
    top: 0px;
    width: 100%;
    background: #000;
    display: block;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#header-text{
    margin-left: 10px;
    line-height: 60px;
    padding-left: 10px;
    font-size: medium;
    text-decoration: none;
    color: #fff;
    white-space: nowrap
}

nav{
    display: flex;
    background-color: #474747;
    width: 100%;
    line-height: 45px;
    scrollbar-width: thin;
    scrollbar-color: red #000;
}

nav::-webkit-scrollbar {
    background: #6e6e6e;
    height: 7.5px;
}

nav::-webkit-scrollbar-thumb {
    border-radius: 2px;
    height: 5px;
    background-color: rgb(229, 229, 229);
}

.nav-content {
    width: 100%;
    min-width: 190px;
    text-align: center;
    pointer-events: none;
}

.jump{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition-delay: 0.1s;
    white-space: nowrap;
    pointer-events: auto;
}

@media screen and (max-width: 800px) {
    nav {
        overflow: scroll;
        overflow-y: hidden;
    }
}

.jump:hover{
    color: #d3d3d3;
}

.nav-content:hover {
    background-color: #636363;
}

.logout {
    color: #ff9898;
}


/* メインパート */
main {
    margin: 145px 0;
}

h1,h2{
    padding-left: 10px;
}

.page-title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 6px double #000;
}

.section-title {
    margin-bottom: 10px;
}

#margin-narrow{
    margin-top: 30px;
}

details{
    margin-left: 10px;
}

#border{
    border-top: 3px dotted #000;
    margin: 20px 0;
}


/* table関係 */
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

th{
    background-color: #adc9f3;
    padding: 10px;
    border-bottom: solid 4px #778ca3;
    color: #000000;
}

td{
    padding: 10px;
    border-bottom: solid 1px #778ca3;
}

.error-at-table {
    margin-top: 10px;
    text-align: center;
}


/* form関係 */
form {
    padding-left: 10px;
}

input{
    margin-right: 15px;
    margin-bottom: 10px;
}

input[type="date"] {
    position: relative;
    padding: 0 10px;
    width: 150px;
    height: 36px;
    border: 2px solid #000;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

input[type="time"],
input[type="text"]{
    position: relative;
    padding: 0 10px;
    width: 100px;
    height: 36px;
    border: 2px solid #000;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

input[type="email"]{
    position: relative;
    padding: 0 10px;
    width: 150px;
    height: 36px;
    border: 2px solid #000;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

select {
    position: relative;
    padding: 0 10px;
    width: 180px;
    height: 36px;
    border: 2px solid #000;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

button {
    display: flex;
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    user-select: none;
}

button:hover {
    background-color: #1579c0;
}

.submit-button:hover {
    background-color: #51fd76;
}


/* footer関係 */
footer{
    max-width: 800px;
    margin-left: 150px;
    margin:0 auto;
}

.contact-address{
    margin: 2em 0.5em 0.5em 0.5em;
    padding: 1em 0.5em 0.5em;
    position: relative;
    border: 1px solid #81d4fa;
    background-color: #e1f5fe;
    display: flex;
    text-align: center;
    justify-content: center;
}